{{ $title := (partial "function/getPageTitle" . )}}
<link href='{{ (partial "function/getPageShareUrl" .Page) }}' hreflang="x-default" title="{{ $title }}" rel="alternate" />
{{ if .IsTranslated }}
{{ range .AllTranslations }}
  <link href="{{ .Permalink }}" hreflang="{{ .Site.LanguageCode | lower }}" title="{{ $title }}" rel="alternate" />
  {{ end }}
{{ end }}
{{ range .AlternativeOutputFormats }}
  {{ printf "<link href=%q hreflang=%q rel=%q type=%q/>" .Permalink ($.Site.Language | lower) .Rel .MediaType | safeHTML }}
{{ end }}