:root {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-style: normal;
  font-size: $theme-font-size;
  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $theme-color-primary;
  font-variant: small-caps;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

:where(h2, h3, h4, h5, h6) {
  :not(header) + &:not(:first-child, :only-child) {
    margin-top: 0.75em;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5,
h6 {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover:enabled,
  &:focus:enabled {
    color: $theme-color-primary;
  }
}

hr {
  margin: 0 0 20px;
  border: 0;
  border-top: 1px solid $theme-accent-dark-grey;
}

:not(.chroma) > code {
  font: inherit;
  background-color: $theme-accent-light-grey;
  padding: 0 2px;
  white-space: pre-wrap;
}

b,
strong {
  font: inherit;
  font-weight: 700;
}

i,
em,
q {
  font: inherit;
  font-style: italic;
}

small,
sup,
sub {
  font: inherit;
  font-size: 0.625rem;
  font-style: normal;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

blockquote {
  display: block;
  padding: 5px 0 5px 14px;
  line-height: 1.6;
  border-left: $theme-spacer-below solid $theme-color-primary;

  p:last-child {
    margin: 0;
  }

  footer {
    text-align: right;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
